---
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" href="/">{SITE_TITLE}</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <details>
            <summary> Socials</summary>
            <ul class="p-2 bg-base-100 rounded-t-none">
              <li><a href="https://twitter.com/0xtlt">X</a></li>
              <li><a href="https://github.com/0xtlt">Github</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </nav>
</header>
